In [78]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [79]:
df=pd.read_csv('online_retail_clean.csv')

//anaconda/envs/gads/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [80]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,12/9/11 9:27,2.08,16446.0,United Kingdom
1,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,1/18/11 10:17,1.04,12346.0,United Kingdom
2,556690,23005,printing smudges/thrown away,-9600,6/14/11 10:37,0.00,NaN,United Kingdom
3,556691,23005,printing smudges/thrown away,-9600,6/14/11 10:37,0.00,NaN,United Kingdom
4,C536757,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,-9360,12/2/10 14:23,0.03,15838.0,United Kingdom

In [81]:
df.shape

(541909, 8)

In [82]:
cond = df.Quantity<0
df=df[~cond]

In [83]:
df.shape

(531285, 8)

In [84]:
df=df.dropna()

In [85]:
df.shape

(397924, 8)

In [86]:
df.Country.value_counts()

United Kingdom          354345
Germany                   9042
France                    8342
EIRE                      7238
Spain                     2485
Netherlands               2363
Belgium                   2031
Switzerland               1842
Portugal                  1462
Australia                 1185
Norway                    1072
Italy                      758
Channel Islands            748
Finland                    685
Cyprus                     614
Sweden                     451
Austria                    398
Denmark                    380
Poland                     330
Japan                      321
Israel                     248
Unspecified                244
Singapore                  222
Iceland                    182
USA                        179
Canada                     151
Greece                     145
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     17
Saudi Arabia                 9
Name: Country, dtype: int64

In [87]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  397924.000000  397924.000000  397924.000000
mean       13.021823       3.116174   15294.315171
std       180.420210      22.096788    1713.169877
min         1.000000       0.000000   12346.000000
25%         2.000000       1.250000   13969.000000
50%         6.000000       1.950000   15159.000000
75%        12.000000       3.750000   16795.000000
max     80995.000000    8142.750000   18287.000000

In [77]:
fig, ax=plt.subplots(figsize=(12.6))

AttributeError: 'Series' object has no attribute 'quanline'

In [61]:
short_list_EU = df.Country.value_counts()
short_list_EU=short_list_EU[1:6].keys()
short_list_EU

Index(['Germany', 'France', 'EIRE', 'Spain', 'Netherlands'], dtype='object')

In [62]:
df= df[df.Country.isin(short_list_EU)]

In [63]:
df.shape

(31152, 8)

In [64]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
111,C564899,M,Manual,-480,8/31/11 11:31,0.22,14646.0,Netherlands
174,C579090,84598,BOYS ALPHABET IRON ON PATCHES,-288,11/28/11 10:48,0.21,12427.0,Germany
175,C571499,72802C,VANILLA SCENT CANDLE JEWELLED BOX,-288,10/17/11 15:07,1.25,12454.0,Spain
177,C562375,22950,36 DOILIES VINTAGE CHRISTMAS,-288,8/4/11 14:46,1.25,14911.0,EIRE
196,C579192,22959,WRAP CHRISTMAS VILLAGE,-250,11/28/11 15:43,0.42,12657.0,France

In [43]:
df.Country.value_counts()

Germany    453
EIRE       247
France     149
USA        112
Name: Country, dtype: int64