In [1]:
import pandas as pd

data = '''Region,Alcohol,Tobacco
North,6.47,4.03
Yorkshire,6.13,3.76
Northeast,6.19,3.77
East Midlands,4.89,3.34
West Midlands,5.63,3.47
East Anglia,4.52,2.92
Southeast,5.89,3.20
Southwest,4.79,2.71
Wales,5.27,3.53
Scotland,6.08,4.51
Northern Ireland,4.02,4.56'''

In [2]:
data = data.split('\n')

In [3]:
data

['Region,Alcohol,Tobacco',
 'North,6.47,4.03',
 'Yorkshire,6.13,3.76',
 'Northeast,6.19,3.77',
 'East Midlands,4.89,3.34',
 'West Midlands,5.63,3.47',
 'East Anglia,4.52,2.92',
 'Southeast,5.89,3.20',
 'Southwest,4.79,2.71',
 'Wales,5.27,3.53',
 'Scotland,6.08,4.51',
 'Northern Ireland,4.02,4.56']

In [4]:
df = pd.DataFrame(data)

In [5]:
df

                             0
0       Region,Alcohol,Tobacco
1              North,6.47,4.03
2          Yorkshire,6.13,3.76
3          Northeast,6.19,3.77
4      East Midlands,4.89,3.34
5      West Midlands,5.63,3.47
6        East Anglia,4.52,2.92
7          Southeast,5.89,3.20
8          Southwest,4.79,2.71
9              Wales,5.27,3.53
10          Scotland,6.08,4.51
11  Northern Ireland,4.02,4.56

In [6]:
s=[]
for i in data:
    i=i.split(",")
    s.append(i)

In [7]:
s

[['Region', 'Alcohol', 'Tobacco'],
 ['North', '6.47', '4.03'],
 ['Yorkshire', '6.13', '3.76'],
 ['Northeast', '6.19', '3.77'],
 ['East Midlands', '4.89', '3.34'],
 ['West Midlands', '5.63', '3.47'],
 ['East Anglia', '4.52', '2.92'],
 ['Southeast', '5.89', '3.20'],
 ['Southwest', '4.79', '2.71'],
 ['Wales', '5.27', '3.53'],
 ['Scotland', '6.08', '4.51'],
 ['Northern Ireland', '4.02', '4.56']]

In [8]:
df = pd.DataFrame(s[1::],columns=s[0])

In [9]:
df

              Region Alcohol Tobacco
0              North    6.47    4.03
1          Yorkshire    6.13    3.76
2          Northeast    6.19    3.77
3      East Midlands    4.89    3.34
4      West Midlands    5.63    3.47
5        East Anglia    4.52    2.92
6          Southeast    5.89    3.20
7          Southwest    4.79    2.71
8              Wales    5.27    3.53
9           Scotland    6.08    4.51
10  Northern Ireland    4.02    4.56

In [10]:
df.dtypes

Region     object
Alcohol    object
Tobacco    object
dtype: object

In [11]:
df['Alcohol']=df['Alcohol'].astype(float)

In [12]:
df.dtypes

Region      object
Alcohol    float64
Tobacco     object
dtype: object

In [13]:
df['Tobacco']=df['Tobacco'].astype(float)

In [14]:
df.dtypes

Region      object
Alcohol    float64
Tobacco    float64
dtype: object

In [15]:
df.columns

Index([u'Region', u'Alcohol', u'Tobacco'], dtype='object')

In [16]:
for i in df.columns:
    print(i)

Region
Alcohol
Tobacco

In [17]:
df.Alcohol.mean()

5.443636363636363

In [18]:
df.Alcohol.median()

5.63

In [19]:
from scipy import stats

In [20]:
stats.mode(df.Alcohol)

ModeResult(mode=array([ 4.02]), count=array([1]))

In [21]:
stats.mode(df.Tobacco)

ModeResult(mode=array([ 2.71]), count=array([1]))

In [22]:
df.Tobacco.mean()

3.6181818181818186

In [23]:
df.Tobacco.median()

3.53

In [24]:
max(df.Alcohol)-min(df.Alcohol)

2.4500000000000002

In [25]:
df.Alcohol.std()

0.7977627808725191